.containerStyle {
    /* border: 0.1rem solid red; */
    width: 76rem;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.leftDivStyle {
    border: 0.1rem solid gray;
    width: auto;
    display:flex;
    flex-direction: row;
    
}
.template{
    /* border: 1px solid black; */
    width: 40%;
    /* width: fit-content; */
    /* background-image: url("https://github-production-user-asset-6210df.s3.amazonaws.com/103572350/291574948-3bd5cd5d-3ac1-4d23-a1cb-40482041c7fc.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231219T114025Z&X-Amz-Expires=300&X-Amz-Signature=89808a26e0dcc5bce9af22a0a15b0271746c98583ad5845f9f6f5c95c0e2698c&X-Amz-SignedHeaders=host&actor_id=103572350&key_id=0&repo_id=497514745") !important;
    background-size: cover; */
}
.template>img{
    width: 100%;

}

.contentStyle {
    /* border: 0.1rem solid blue; */
    width: 60%;
}

.right-div {
    flex: 1;
    position: relative;
    right: 3%;
    background-color: #FFFFFF;
    padding: 1.7rem;
    box-sizing: border-box;
    text-align: center;
}

.top-right {
    /* border: 1px solid red; */
    position: relative;
    text-align: end;
    right: 1.5rem;
    /* font-size: 12rem; */
    /* display: flex; */
    /* flex-direction: row; */
}

.title {
    font-weight: bold;
    margin-top: 1rem;
    font-size: 4rem; /* Updated size for zoom responsiveness */
    color: #1DA1F2;
}

.title1 {
    font-weight: bold;
    /* margin-top: 0.3rem; */
    font-size: 2rem; /* Updated size for zoom responsiveness */
    color: #F26E1C;
}

.title2 {
    font-weight: bold;
    /* margin-top: 0.3rem; */
    font-size: 2rem; /* Updated size for zoom responsiveness */
    color: #1DA1F2;
}

.certify-text {
    margin-top: 0.8rem;
    font-size: 1rem; /* Updated size for zoom responsiveness */
}

.name {
    font-size: 2.6rem; /* Updated size for zoom responsiveness */
    color: #F26E1C;
    margin-top: 1.3rem;
    /* white-space: wrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.assessment-text {
    font-size: 1rem; /* Updated size for zoom responsiveness */
    margin-top: 1.5rem;
    color: black;
    white-space: wrap;
    font-style: italic;
    font-weight: bold;
}

.programming-language {
    font-style: italic;
    font-weight: bold;
    margin-top: 0.2rem;
    font-size: 1.42rem; /* Updated size for zoom responsiveness */
    color: #F26E1C;
}

.footer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: 1rem; /* Updated size for zoom responsiveness */
}

.byte {
    color: #1DA1F2;
    font-size: 2.8rem; /* Updated size for zoom responsiveness */
}

.xl {
    color: #F26E1C;
    font-size: 2.1rem; /* Updated size for zoom responsiveness */
    margin-top: -1rem;
}

h4 {
    color: #F26E1C;
}

.image {
    height: 100%;
    min-width: 40%;
    position: relative;
}
/* .footer{
    border: 1px solid red;
    margin-top: -0rem;
} */

.footer h3,
.footer h4 {
    margin-bottom: -1.5rem; /* Updated margin for zoom responsiveness */
}

.bet-1 {
    position: relative;
    padding-top: 1.4rem;
}

.bet h3 {
    margin-top: -0.7rem;
}


.rightDivStyle {
    /* border: 0.1rem solid black; */
    flex: 0 0 30%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copyButtonStyle {
    margin-left: 0.625rem;
}
.right-div {
    flex: 1;
    position: relative;
    right:3%;

    background-color: #FFFFFF;
    padding: 17px;
    box-sizing: border-box;
    text-align: center;
  }

  .social{
    /* border: 1px solid red; */
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .social div{
    /* border: 1px solid red; */
    width: 20%;
    cursor: pointer;
  }
