.containerStyle {
    border: 0.1rem solid red;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.leftDivStyle {
    border: 0.1rem solid red;
    width: 100%;
    display:flex;
    flex-direction: row;
    
}
.template{
    border: 1px solid black;
    width: 40%;
    width: fit-content;
    /* background-image: url("https://github-production-user-asset-6210df.s3.amazonaws.com/103572350/291574948-3bd5cd5d-3ac1-4d23-a1cb-40482041c7fc.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231219T114025Z&X-Amz-Expires=300&X-Amz-Signature=89808a26e0dcc5bce9af22a0a15b0271746c98583ad5845f9f6f5c95c0e2698c&X-Amz-SignedHeaders=host&actor_id=103572350&key_id=0&repo_id=497514745") !important;
    background-size: cover; */
}
.template img{
    width: fit-content;
}

.contentStyle {
    border: 1px solid blue;
    width:60%;
    
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; */
}

.rightDivStyle {
    border: 0.1rem solid black;
    flex: 0 0 30%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copyButtonStyle {
    margin-left: 0.625rem;
}
